body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #001f26, #002b36); /* Dark gradient */
    color: #93a1a1; /* Light cyan */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.book {
    width: 90vw; /* Responsive width */
    max-width: 420px; /* Max width */
    height: 90vh; /* Responsive height */
    max-height: 600px; /* Max height */
    border: 1px solid #073642; /* Teal */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    background-color: #073642; /* Teal */
    position: absolute;
    transition: opacity 0.5s;
    opacity: 0;
}

.page.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

h1 {
    margin: 10px 0; /* Adjusted margin */
}

p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 0; /* Further reduced margin */
}

.navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Increased padding */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.arrow-button {
    background-color: #268bd2; /* Blue */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
    width: 50px; /* Fixed width */
    margin: 0; /* Reset margins */
}

.arrow-button:hover {
    background-color: #2aa198; /* Teal */
}

.page-selector {
    background-color: #268bd2; /* Blue */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px; /* Space between buttons */
}

.font-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #268bd2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}

.font-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #073642; /* Teal */
    border: 1px solid #268bd2;
    border-radius: 5px;
    z-index: 1;
}

.font-dropdown select {
    background-color: #073642;
    color: #93a1a1;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.page-dropdown {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #073642;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
